<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASKY | Medical inquery app</title>

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/imgs/askyTab.png">
    
    <script src="https://kit.fontawesome.com/fdfbb144df.js" crossorigin="anonymous"></script>


    <!-- UI kit -->
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Bootstrap -->
    <!--     Fonts and icons     -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
      <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
      <!-- Nucleo Icons -->
      <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
      <!-- CSS Files -->
      <link href="../assets/css/blk-design-system.css?v=1.0.0" rel="stylesheet" />

  </head>
  <body class="index-page register-page flex flex-col min-h-screen">
 
  </body>
</html>
