<%- include('partials/header') -%>

<body class="index-page">
    <!-- Navbar -->
    
    <div class="wrapper">
      <div class="page-header header-filter">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>
        <div class="container">
          <div class="content-center brand">
            <h1 class="h1-seo">ASKY•</h1>
            <h3>An organization System for your patients' Medical inquiries.</h3>
            <a href="/signup"><button class="btn btn-primary" type="button">Sign Up</button></a>
          </div>
        </div>
      </div>
      

<%- include('partials/footer') -%>